@use "sass:color";

$border-color: grey;

$type-colors: (
  bug: #6fb90050,
  dark: #4a445550,
  dragon: #1870b950,
  electric: #ffce2b50,
  fairy: #f28cd650,
  fighting: #d14b5f50,
  fire: #fa8e2150,
  flying: #6b86d550,
  ghost: #7a71c350,
  grass: #3ab55850,
  ground: #cd672650,
  ice: #7cdfda50,
  normal: #95958f50,
  poison: #d747c250,
  psychic: #fc595550,
  rock: #c6b36550,
  steel: #26798d50,
  water: #58a7db50,
  hidden: #9c47ef50,
);

@mixin dark-theme {
  background-color: #222;
  color: #eee;

  #use-light-theme {
    display: flex;
  }

  #use-dark-theme {
    display: none;
  }
}

body {
  padding: 2rem;
  font-family: "Lato", sans-serif;

  #use-light-theme {
    display: none;
  }

  #use-dark-theme {
    display: flex;
  }

  &:not(.light) {
    @media (prefers-color-scheme: dark) {
      @include dark-theme;
    }
  }

  &.dark {
    @include dark-theme;
  }

  @mixin feature-toggle($feature) {
    &:not(.show-#{$feature}) {
      .#{$feature} {
        display: none;
      }
    }
  }

  @include feature-toggle(deltas);
  @include feature-toggle(power);
  @include feature-toggle(leagues);
}

.container {
  margin: auto;
  max-width: 1200px;
}

h1 {
  margin-top: 0;
  font-size: 2rem;

  img {
    height: 2rem;
  }
}

.info {
  font-style: italic;
  font-size: small;
  a {
    color: inherit;
  }
}

.theme-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: 1px solid #a9a9a9;
  background-color: #eee;
  padding: 8px;
  color: #000;

  &:focus,
  &:hover,
  &:active {
    border-color: #808080;
    background-color: #ddd;
  }

  img {
    margin-right: 8px;
    height: 1em;
  }
}

.setting {
  margin-bottom: 1rem;
}

input#search {
  position: fixed;
  right: 40px;
  bottom: 40px;
  outline: none;
  box-shadow: none;
  border: 2px solid #a9a9a9;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5rem;

  &:focus {
    border-color: #808080;
  }
}

h2 {
  margin: 1rem 0 0.5rem 0;
  padding-top: 1rem;
}

.leagues {
  display: flex;
  margin-bottom: 1rem;

  .league {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    img {
      margin-right: 0.5rem;
      width: 2.5rem;
    }

    .cmp {
      text-align: center;

      .league-name {
        font-weight: bold;
      }

      .rank-one-cmp {
        font-size: 1.2rem;
      }
    }
  }
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 4px 10px;
    text-align: center;

    img.type {
      margin-bottom: -0.2em;
      height: 1.2em;
    }

    .delta {
      font-size: 0.7rem;
    }
  }

  tr:first-child {
    th {
      &:first-child {
        font-size: 1.2rem;
      }
    }

    @each $type, $color in $type-colors {
      th.#{$type} {
        border-bottom: 1px solid color.adjust($color, $alpha: 1);
        background-color: $color;
      }
    }
  }

  tr:not(:first-child) {
    @each $type, $color in $type-colors {
      &.#{$type} {
        th,
        td {
          background-color: $color;
        }
      }
    }
  }
}
