{% extends 'layout.njk' %}

{% macro typeIcon(type) -%}
  <img class="type" src="/icons/types/{{ type }}.png" alt="{{ type | capitalize }}-type">
{%- endmacro %}

{% block content %}
  <h1>
    Pokémoves
    <img src="/icons/gbl.png" alt="">
  </h1>
  <p>
    Move counts for Pokémon GO battles.
  </p>
  <p>
    <small><em>Last updated: {{ lastUpdated }}</em></small>
  </p>
  <input id="search" type="text" placeholder="Search"  style="visibility: hidden;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
  {% for pokemon in list %}
    {% set isMew = pokemon.name === "Mew" %}
    <h2 data-name="{{ pokemon.name | lower }}">
      {{ pokemon.name }}{{ "*" if isMew }}
    </h2>
    {% if isMew %}
      <p>* Only some of Mew’s fast moves are shown.</p>
    {% endif %}
    <table>
      <tr>
        <th class="{{ pokemon.types | first }}">
          {% for type in pokemon.types %}
            {{ typeIcon(type) }} {{ "/" if not loop.last }}
          {% endfor %}
        </th>
        {% for fastMove in pokemon.counts[0].fastMoves %}
          {% set type = "hidden" if fastMove.name === "Hidden Power" else fastMove.type %}
          <th class="{{ type }}">
            <div>
              {{ typeIcon(type) }}
              {{ fastMove.name }}
            </div>
            <div>
              <small>
                +{{ fastMove.energy }} energy
                / {{ fastMove.turns }} turn{{ "s" if fastMove.turns > 1 }}
              </small>
            </div>
          </th>
        {% endfor %}
      </tr>
      {% for row in pokemon.counts %}
        {% set chargedMove = row.chargedMove %}
        {% set type = chargedMove.type %}
        <tr class="{{ type }}">
          <th>
            <div>
              {{ typeIcon(type) }}
              {{ chargedMove.name }}
            </div>
            <div>
              <small>
                {{ chargedMove.energy }} energy
              </small>
            </div>
          </th>
          {% for fastMove in row.fastMoves %}
            <td>
              {% set firstCount = (fastMove.counts | first) %}
              {% for count in fastMove.counts %}
                {% if count === firstCount %}
                  {{ count }}
                {%- else %}
                  <em>
                    {{ count -}}
                  </em>
                {%- endif %}
                {{- "," if not loop.last }}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  <script>
    const elements = Array.from(document.querySelectorAll("[data-name]"));
    const names = elements.map(el => el.dataset.name);

    const search = document.getElementById("search");

    window.addEventListener("keydown", function (e) {
      if (e.ctrlKey || e.metaKey || e.key.length > 1) {
        return;
      }
      search.focus();
    });

    let resetTimeout;
    search.addEventListener("input", function () {
      clearTimeout(resetTimeout);
      const i = names.findIndex(name => name >= search.value.toLowerCase());
      const targetName = i === -1 ? names[names.length - 1] : names[i];
      const targetElement = document.querySelectorAll(`[data-name='${targetName}']`)[0];
      targetElement.scrollIntoView();
      resetTimeout = setTimeout(function () {
        search.blur();
      }, 2000);
    });

    search.addEventListener("keydown", function (e) {
      if (e.key === "Escape") {
        search.blur();
      }
    });

    search.addEventListener("blur", function () {
      search.value = "";
    });

    search.style.visibility = "visible";
  </script>
{% endblock %}
