{% extends 'layout.njk' %}

{% block content %}
  <h1>
    Pokémoves
    <img src="/icons/gbl.png" alt="">
  </h1>
  <p>
    Move counts for Pokémon GO battles.
  </p>
  {% for pokemon in list %}
    {% set isMew = pokemon.name === "Mew" %}
    <h2 data-name="{{ pokemon.name | lower }}">
      {{ pokemon.name }}{{ "*" if isMew }}
    </h2>
    {% if isMew %}
      <p>* This only shows Mew’s most popular fast moves.</p>
    {% endif %}
    <table>
      <tr>
        <th></th>
        {% for fastMove in pokemon.counts[0].fastMoves %}
          <th>
            <div>
              {{ fastMove.name }}
            </div>
            <div>
              <small>
                +{{ fastMove.energy }} energy
                / {{ fastMove.turns }} turn{{ "s" if fastMove.turns > 1 }}
              </small>
            </div>
          </th>
        {% endfor %}
      </tr>
      {% for row in pokemon.counts %}
        {% set chargedMove = row.chargedMove %}
        <tr>
          <th>
            <div>
              {{ chargedMove.name }}
            </div>
            <div>
              <small>
                {{ chargedMove.energy }} energy
              </small>
            </div>
          </th>
          {% for fastMove in row.fastMoves %}
            <td>
              {% set firstCount = (fastMove.counts | first) %}
              {% for count in fastMove.counts %}
                {% if count === firstCount %}
                  {{ count }}
                {%- else %}
                  <em>
                    {{ count -}}
                  </em>
                {%- endif %}
                {{- "," if not loop.last }}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  <script>
    const elements = Array.from(document.querySelectorAll("[data-name]"));
    const names = elements.map(el => el.dataset.name);

    let search = "";
    let resetTimeout;
    window.addEventListener("keydown", function (e) {
      if (e.ctrlKey || e.metaKey) {
        return;
      }
      if (e.key.length > 1) {
        return;
      }
      clearTimeout(resetTimeout);
      search += e.key.toLowerCase();
      const i = names.findIndex(name => name >= search);
      const target = i === -1 ? names[names.length - 1] : names[i];
      const element = document.querySelectorAll(`[data-name='${target}']`)[0];
      element.scrollIntoView();
      resetTimeout = setTimeout(function () {
        search = "";
      }, 2000);
    });
  </script>
{% endblock %}
