{% extends 'layout.njk' %}

{% block content %}
  <ul>
    {% for pokemon in list %}
      <li data-name="{{ pokemon.name | lower }}">
        {{ pokemon.name }}
        <ul>
          {% for count in pokemon.counts %}
            {% set fastMove = count.fastMove %}
            <li>
              [{{ fastMove.type }}]
              [{{ fastMove.turns }}]
              {{ fastMove.name }}
              (+{{ fastMove.energy }})
              <ul>
                {% for chargedMove in count.chargedMoves %}
                  <li>
                    [{{ chargedMove.type }}]
                    [{{ chargedMove.counts }}]
                    {{ chargedMove.name }}
                    ({{ chargedMove.energy }})
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <script>
    const elements = Array.from(document.querySelectorAll("[data-name]"));
    const names = elements.map(el => el.dataset.name);

    let search = "";
    let resetTimeout;
    window.addEventListener("keydown", function (e) {
      if (e.key.length > 1) {
        console.log(e);
        return;
      }
      clearTimeout(resetTimeout);
      search += e.key.toLowerCase();
      console.log(search);
      const i = names.findIndex(name => name >= search);
      const target = i === -1 ? names[names.length - 1] : names[i];
      const element = document.querySelectorAll(`[data-name='${target}']`)[0];
      element.scrollIntoView();
      resetTimeout = setTimeout(function () {
        search = "";
        console.log("**CLEAR**");
      }, 2000);
    });
  </script>
{% endblock %}
